<!DOCTYPE html>
<html>
    <head>
        <title>try chat(JAX-RS)</title>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="../webjars/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../resources/css/style.css" />
        <script type='text/javascript' src="../webjars/jquery/2.1.1/jquery.min.js"></script>
        <script type='text/javascript' src="../webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script type='text/javascript' src="../webjars/vue/0.11.0/vue.min.js"></script>
        <script type='text/javascript' src="../resources/js/common.js"></script>
        
    </head>
      <body>
        <div class="container">
        <div class="jumbotron">
            <h1>サンプルチャット</h1>
                <form id="form" class="login" v-on="submit:join">
                    <span id="error" >{{error_message}}</span>
                    <div id="nameFg" class="form-group {{name_error_css}}">
                        <label for="name" class="control-label">名前 <span>{{name_message}}</span></label>
                        <input id="name" name="name"  placeholder="表示名を入力" 
                               type="text" class="form-control" v-model="name" />
                    </div>
                    <div id="emailFg" class="form-group {{email_error_css}}">
                        <label for="email" class="control-label ">Gravatarメールアドレス <span>{{email_message}}</span></label>
                        <input id="email" name="email"  placeholder="Gravatarのイメージを使用する場合入力" type="email"
                               class="form-control" v-model="email" />
                    </div>
                    <input type="submit" value="join" class="btn btn-default"   />
                </form>
                <div>
                    <a href="../" class="btn btn-link">JSF版へ</a>
                </div>
        </div>
        </div>
          
          <script>
            var model = new Vue({
                el : "#form",
                data : {
                    name :"" ,
                    email :"",
                    name_message :"",
                    email_message : "",
                    name_error_css : "",
                    email_error_css :"",
                    error_message :""
                },
                methods:{
                    join: function(e){
                        e.preventDefault();
                        var $data = this.$data;
                        Object.keys($data).forEach(function(prop){
                            if (prop.indexOf("_message")>0 || prop.indexOf("_error_css")>0) {
                                $data[prop] = "";
                            }
                        });
                        $.ajax({url:"../rs/join", 
                                data:JSON.stringify({"name":$data.name, "email":$data.email}),
                                method:"POST", contentType: 'application/json'}
                            ).success(function(data){
                                sessionStorage.setItem("token", data.token);
                                var next = "../rs/chatroom";
                                
                                 $.ajax({url:next, 
                                    method:"GET", 
                                    headers:{"authorization":data.token}}
                                ).success(function(data){
                                    history.pushState(location.href, null, "../rs/chatroom")
                                    $("html").html(data)
                                })
                            }).fail(function(jqXhr, status, thrown){
                                if (jqXhr.status !== 400) {
                                    alert(jqXhr.responseText);
                                } else {
                                    var data = jqXhr.responseJSON;
                                    data.messages.forEach(function(e){
                                        
                                        $data[e.key +"_message"] = e.message;
                                        if (e.key !== "error") {
                                            $data[e.key + "_error_css"] = "has-error";
                                        }
                                    });
                                }
                            }) 
                    }
                }
            });
        </script>
    </body>
</html>
